In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name" : [
            "Braud",
            "allen",
            "bonnel",
        ],
        "Age": [22,35,58],
        "Sex": ["male", "male", "female"]
    }
)
df

     Name  Age     Sex
0   Braud   22    male
1   allen   35    male
2  bonnel   58  female